#!/usr/bin/env python

PACKAGE = "tf_calibration"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("x",	double_t,	0,	"delta_x from parent_frame to child_frame",	0.0)
gen.add("y",	double_t,	0,	"delta_y from parent_frame to child_frame", 0.0)
gen.add("z",	double_t,	0,	"delta_z from parent_frame to child_frame",	0.0)
gen.add("yaw",	double_t,	0,	"change in yaw (degrees) from parent_frame to child_frame",		0.0,	0.0,	360.0)
gen.add("pitch",double_t,	0,	"change in pitch (degrees) from parent_frame to child_frame",	0.0,	-180.0,	180.0)
gen.add("roll",	double_t,	0,	"change in roll (degrees) from parent_frame to child_frame",	0.0,	-180.0,	180.0)

exit(gen.generate(PACKAGE, "tf_calibration_node", "TF"))