<?xml version="1.0"?>
<launch>
  <node name="scanignore_1" pkg="scanignore" type="scanignore" args="-55 79">
  <remap from="/scan" to="/scan_1_unfiltered" />
   <remap from="/scan_modify" to="/scan_1" />
  </node>
  <node name="scanignore_2" pkg="scanignore" type="scanignore" args="-8 96">
  <remap from="/scan" to="/scan_2_unfiltered" />
  <remap from="/scan_modify" to="/scan_2" />
  </node>
</launch>
 <!-- scanignore subscribes to /scan and publishes in /scan_modify , angles (in rads) (front -0.9736 1.38257), (back -0.14189 1.68693)  -->
